
	<div class ="container-fluid">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				 <form class="modal-content">
				    <div class="container-fluid">
				      <h1>Sign Up</h1>
				      <p>Please fill in this form to create an account.</p>
				      <hr>
				      <div class="form-group">
					      <label for="email"><b>Email</b></label>
					      <input type="text" placeholder="Enter Email" class="form-control" name="email" class="form-control">
					  </div>
					  <div class="form-group">
					      <label for="psw"><b>Password</b></label>
					      <input type="password" class="form-control" placeholder="Enter Password" name="psw">
					  </div>
					  <div class="form-group">
					      <label for="psw-repeat"><b>Repeat Password</b></label>
					      <input type="password" placeholder="Repeat Password" class="form-control" name="psw-repeat">
				      </div>
				      <div class="form-group">
					      <label for="mob-no"><b>Mobile Number</b></label>
					      <input type="number" class="form-control" placeholder="Mobile Number" name="mob-no">			
				      </div>
				      <div class="form-group">
				        <button type="submit" class="btn btn-info">Sign Up</button>
				        <button type="button" class="btn btn-danger">Cancel</button>			      
				      </div>
				      <div><label></label></div>
				    </div>
				  </form>
			</div>		
		</div>
	</div>